@model VictimsHelp.PL.ViewModels.Chat.MessageViewModel

@{
    ViewData["Title"] = "Chat";
}

<h1>Chat</h1>

<div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Message.SenderName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Message.Text)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Message.DateTime)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Messages)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.SenderName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Text)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateTime)
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <partial name="_MessageFormPartial" for="Message">
</div>
